footer{
    color: #fefefe;
    font-size: 14px;
    text-align: center;
    box-shadow: 2px -2px 5px #999 ;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}

.ufo {
    height: 200px;
    width: 200px;
    z-index: 1;
    background-image: url(/assets/img/ufo.svg);
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: rocket 13s ease-in-out infinite;
}
@keyframes rocket {
    0% {
        transform: translateX(180px)translate(-50%, -50%) rotate(0deg)
    }

    50% {
        transform: translateY(200px)translate(-50%, -50%) rotate(0deg)
    }

    100% {
        transform: translateY(-300px)translate(-50%, -50%) rotate(0deg)
    }

    
}
.cometa {
    height: 250px;
    width: 250px;
    z-index: 4;
    background-image: url(/assets/img/cometa.svg);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 90%;
    top: 36%;
    transform: translate(-50%, -50%) ;
    animation: cometa 10s circle infinite;
}

@keyframes cometa {
    from {
        transform: rotate(0deg)translateX(0px) rotate(0deg);
    }

    to {
        transform: rotate(360deg)translateX(350px) rotate(-360deg);
    }
}
.moon{
    margin-bottom: 50px;
    margin-top: 120px;
    background-image: url(/assets/img/rg1024-Moon-in-comic-style.svg);
    background-size: 2500px;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    height: 500px;
    transition: 10s ease;
    animation-name: moon;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    box-shadow: 1px -17px 11px 5px rgba(199, 193, 209, 0.75);
-webkit-box-shadow: 1px -17px 11px 5px rgba(225, 220, 233, 0.75);
-moz-box-shadow: 1px -17px 11px 5px rgba(249, 246, 253, 0.75);
}

img{
    width: 70px;
}

.linkcontainer{
    margin-top: 50px;
}

a{
    margin: 10px;
}

.copyrightcontainer{
    margin-top:70px;
}

.copyright{
    font-size: 20px;
}


@keyframes  moon{
    0%{
        translate: 0 30px;
    }
    50%{
        translate: 0 -20px;
    }
    100%{
        translate: 0 30px;
    }
}

p{
    color: black;
    font-size: 1.75rem;
    letter-spacing: 0.13rem;
}
h2{
    margin-top: 100px;
    display: block;
    color: black;
    font-size: 5.625rem;
}

.container{
    flex-direction: column;
    width: 100%;
}

.star {
	position: absolute;
	z-index: 1;
  }
  .star:nth-child(1) {
	top: 85vh;
	left: 49vw;
  }
  .star:nth-child(1):before,
  .star:nth-child(1):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -1s;
  }
  .star:nth-child(1):before {
	top: 0.5px;
	left: -0.5px;
	width: 3px;
	height: 1px;
  }
  .star:nth-child(1):after {
	top: -0.5px;
	left: 0.5px;
	width: 1px;
	height: 3px;
  }
  .star:nth-child(2) {
	top: 29vh;
	left: 83vw;
  }
  .star:nth-child(2):before,
  .star:nth-child(2):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -2s;
  }
  .star:nth-child(2):before {
	top: 0.5px;
	left: -0.5px;
	width: 3px;
	height: 1px;
  }
  .star:nth-child(2):after {
	top: -0.5px;
	left: 0.5px;
	width: 1px;
	height: 3px;
  }
  .star:nth-child(3) {
	top: 82vh;
	left: 28vw;
  }
  .star:nth-child(3):before,
  .star:nth-child(3):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -3s;
  }
  .star:nth-child(3):before {
	top: 1.5px;
	left: -1.5px;
	width: 9px;
	height: 3px;
  }
  .star:nth-child(3):after {
	top: -1.5px;
	left: 1.5px;
	width: 3px;
	height: 9px;
  }
  .star:nth-child(4) {
	top: 98vh;
	left: 60vw;
  }
  .star:nth-child(4):before,
  .star:nth-child(4):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -4s;
  }
  .star:nth-child(4):before {
	top: 1.5px;
	left: -1.5px;
	width: 9px;
	height: 3px;
  }
  .star:nth-child(4):after {
	top: -1.5px;
	left: 1.5px;
	width: 3px;
	height: 9px;
  }
  .star:nth-child(5) {
	top: 17vh;
	left: 18vw;
  }
  .star:nth-child(5):before,
  .star:nth-child(5):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -5s;
  }
  .star:nth-child(5):before {
	top: 1.5px;
	left: -1.5px;
	width: 9px;
	height: 3px;
  }
  .star:nth-child(5):after {
	top: -1.5px;
	left: 1.5px;
	width: 3px;
	height: 9px;
  }
  .star:nth-child(6) {
	top: 97vh;
	left: 69vw;
  }
  .star:nth-child(6):before,
  .star:nth-child(6):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -6s;
  }
  .star:nth-child(6):before {
	top: 2px;
	left: -2px;
	width: 12px;
	height: 4px;
  }
  .star:nth-child(6):after {
	top: -2px;
	left: 2px;
	width: 4px;
	height: 12px;
  }
  .star:nth-child(7) {
	top: 85vh;
	left: 41vw;
  }
  .star:nth-child(7):before,
  .star:nth-child(7):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -7s;
  }
  .star:nth-child(7):before {
	top: 0.5px;
	left: -0.5px;
	width: 3px;
	height: 1px;
  }
  .star:nth-child(7):after {
	top: -0.5px;
	left: 0.5px;
	width: 1px;
	height: 3px;
  }
  .star:nth-child(8) {
	top: 34vh;
	left: 54vw;
  }
  .star:nth-child(8):before,
  .star:nth-child(8):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -8s;
  }
  .star:nth-child(8):before {
	top: 2px;
	left: -2px;
	width: 12px;
	height: 4px;
  }
  .star:nth-child(8):after {
	top: -2px;
	left: 2px;
	width: 4px;
	height: 12px;
  }
  .star:nth-child(9) {
	top: 84vh;
	left: 46vw;
  }
  .star:nth-child(9):before,
  .star:nth-child(9):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -9s;
  }
  .star:nth-child(9):before {
	top: 2px;
	left: -2px;
	width: 12px;
	height: 4px;
  }
  .star:nth-child(9):after {
	top: -2px;
	left: 2px;
	width: 4px;
	height: 12px;
  }
  .star:nth-child(10) {
	top: 36vh;
	left: 92vw;
  }
  .star:nth-child(10):before,
  .star:nth-child(10):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -10s;
  }
  .star:nth-child(10):before {
	top: 1px;
	left: -1px;
	width: 6px;
	height: 2px;
  }
  .star:nth-child(10):after {
	top: -1px;
	left: 1px;
	width: 2px;
	height: 6px;
  }
  .star:nth-child(11) {
	top: 9vh;
	left: 45vw;
  }
  .star:nth-child(11):before,
  .star:nth-child(11):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -11s;
  }
  .star:nth-child(11):before {
	top: 1.5px;
	left: -1.5px;
	width: 9px;
	height: 3px;
  }
  .star:nth-child(11):after {
	top: -1.5px;
	left: 1.5px;
	width: 3px;
	height: 9px;
  }
  .star:nth-child(12) {
	top: 91vh;
	left: 74vw;
  }
  .star:nth-child(12):before,
  .star:nth-child(12):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -12s;
  }
  .star:nth-child(12):before {
	top: 2px;
	left: -2px;
	width: 12px;
	height: 4px;
  }
  .star:nth-child(12):after {
	top: -2px;
	left: 2px;
	width: 4px;
	height: 12px;
  }
  .star:nth-child(13) {
	top: 89vh;
	left: 94vw;
  }
  .star:nth-child(13):before,
  .star:nth-child(13):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -13s;
  }
  .star:nth-child(13):before {
	top: 2px;
	left: -2px;
	width: 12px;
	height: 4px;
  }
  .star:nth-child(13):after {
	top: -2px;
	left: 2px;
	width: 4px;
	height: 12px;
  }
  .star:nth-child(14) {
	top: 63vh;
	left: 12vw;
  }
  .star:nth-child(14):before,
  .star:nth-child(14):after {
	position: absolute;
	content: '';
	background-color: #fff;
	border-radius: 10px;
	animation: blink 1.5s infinite;
	animation-delay: -14s;
  }
  .star:nth-child(14):before {
	top: 0.5px;
	left: -0.5px;
	width: 3px;
	height: 1px;
  }
  .star:nth-child(14):after {
	top: -0.5px;
	left: 0.5px;
	width: 1px;
	height: 3px;
  }
  .star:nth-child(15) {
	top: 97vh;
	left: 6vw;
  }