
<section id="footer">
    <div id="contact" class="moon d-flex justify-content-center">
        <div class="ufo"></div>
        <div class="container d-flex  text-center">
            
            <footer> 
                <app-logo></app-logo>
                
                <div class="copyrightcontainer">
                    <p class="copyright">|    {{perso?.nombre}} {{perso?.apellido}} | ®  Argentina Programa 2022/23     | </p>
                    <p class="copyright">|   Manunaki producciones, Buenos Aires, Argentina 	★★★     | © Todos los derechos reservados   |</p>
                </div>
            </footer>
            <div class="cometa"></div>
        </div>    
    </div>
    
</section>

