<section id="login" class="login">
<div class="modal fade vh-100 gradient-custom" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
      <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="modal-dialog ">
                  <div class="modal-content ">
                    <div class="modal-header">

                    </div>
                      <div class="login-box">
                        
                        <div class="container py-5 h-100">
                          <div class="row d-flex justify-content-center align-items-center h-100">
                            
                              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                                <div class="card-body p-5 text-center">
                                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                    <p class="text-white-50 mb-5">Por favor, ingresar usuario y clave</p>
                                    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                    
                                      <div class="form-outline form-white mb-2">
                                        <input type="email"  name="nombreUsuario" class="form-control form-control-lg"
                                          [(ngModel)]="nombreUsuario" required />
                                        <label class="form-label" for="nombreUsuario">Usuario</label>
                                      </div>
                    
                                      <div class="form-outline form-white mb-1">
                                        <input type="password"  name="password" class="form-control form-control-lg"
                                          [(ngModel)]="password" required />
                                        <label class="form-label" for="password">Password</label>
                                      </div>
                                      <button class="btn btn-outline-light" type="submit">Login</button>      
                                    </form>
                                    <br>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
      </div>
</div>
</section>