<section id="sobreMi" class="border">
  <!--aca va la botonera que te lleva a las distintas secciones-->
  <div style="text-align: center;">
    <div class="col-auto me-auto mt-2">
    <a href="#experiencia"><button class="btn">Experiencia</button></a>
    <!--faltan secciones-->
    <a href="#estudios"><button class="btn">Estudios</button></a>
    <a href="#habilidades"><button class="btn">Habilidades</button></a>
    <a href="#proyectos"><button class="btn">Proyectos</button></a>
    </div>
  </div>
  <br>
  <h2 class="text-center mt-4 pb"> Sobre mi</h2>
  <br>
  <div style="text-align: end;">
  <button type="submit" class="btn btn-close-white"><i class="fa-solid fa-pen-to-square"></i></button>
  </div>
  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col-6">
        <div>
          <h3 class="nombrePerfil">Manuel Acosta</h3>
          <h4>Programador Junior</h4>
      </div>
      </div>
      
      <div class="col-3">
        
        <app-banner></app-banner>
      </div>
    </div>
  </div>
</section>
<app-editar-sobre-mi></app-editar-sobre-mi>