<section id="sobreMi" class="border">
  
        <div class="row">
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        
            <img src="../../../assets/img/GorilaVerde.jpg" class="img-fluid" id="fotoPerfil">
        
          </div>  
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          
            <h2 id="nombreee">{{persona.nombre}}{{persona.apellido}}</h2>
            <h4>Programador Junior</h4>
            <p id="nombrePerfil">{{persona.nombre}}{{persona.apellido}}</p>
          </div>


          <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <span>
              <h3>Acerca de mi</h3>
                <p></p> {{persona.acercaDe}}<p>umquam qui volupt?</p>
            </span>
        </div>
      </div>
    
</section>
<app-editar-sobre-mi></app-editar-sobre-mi>