<section id="banner2" class="banner2">
    
    <div class="container">
        <div class="row banner">
        <div class="col-xl-6 presentation">
            <h1>Hola, soy <span class="myname">{{persona?.nombre}}</span></h1>
            <h2>{{persona?.titulo}} <br> </h2>
            <div class="planet" >
            </div>
            <div class="rocket">
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="tierra"></div>
            
            <div class="asteroide"></div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</section>
