<section id="habilidades" class="border">
    <h1 class="text-center mt-4 pb"> Habilidades </h1>
    <div class="container text-center">
        <!--Barra de progreso-->
        <div class="skills">
                <div class="circular-progress html">
                </div>
                <div class="circular-progress php">
                </div>
                <div class="circular-progress css">
                </div>
                <div class="circular-progress js">
                </div>
                <div class="circular-progress c"></div>
                </div>
           <!-- <div> <!--Barras de progreso simples--!>
                <div class="progress" margin="10">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br>
                <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
                <br>
            </div>-->
            
                        
    </div>
</section>