/*ETIQUETA HTML VA DIRECTAMENTE EL NOMBRE */
/*CLASES VA CON " . " ADELANTE */
/*ID VA CON "#" ADELANTE */


body{
    text-align: center;
    margin:auto;
    background-color: rgb(24, 104, 77);
    color:rgb(12, 22, 19); 
}

#redes{
    text-align: center;
    margin: auto;
}
ul li{
    list-style-type: none;
    margin-left: -3%;
}


.nombrePerfil{
    font-size: 5em;
    border-style: solid;
}


.mapa{
    padding: -10%;
    border:2% solid black;
}

#sobreMi{
    background-color: rgb(63, 148, 95);
}
.logoAP{
     filter: invert();
}