/*ETIQUETA HTML VA DIRECTAMENTE EL NOMBRE */
/*CLASES VA CON " . " ADELANTE */
/*ID VA CON "#" ADELANTE */


body{
    text-align: center;
    margin:auto;
    background-color: rgb(24, 104, 77);
    color:rgb(217, 240, 232); 
}

#redes{
    text-align: center;
    margin: auto;
}
ul li{
    list-style-type: none;
    margin-left: -3%;
}

.imgPerfil{
    border-radius: 100%;
    justify-content: center;
    display: flex;
    border-style: solid;
}

.nombrePerfil{
    font-size: 5em;
    border-style: solid;

}

.banner{
    justify-content: center;
    display: flex;
    border-style: solid;
}

.mapa{
    padding: -10%;
    border:2% solid black;
}