<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar" target="_blank">
        <app-header></app-header> 
        </a>
            
            <button class="btn section" (click)="mostrate()" >Mostrate/Ocultate</button>
                <ul class="navbar-nav">
                  
                    
                      
                    
                              
                    <app-login *ngIf="!mostrar"></app-login>
                    <app-logout *ngIf="mostrar"></app-logout>
                    
                    
                  
                </ul>
                
    </div>
  </nav>