<nav class="row navbar navbar-expand-lg bg-light">
    <div class="row container-fluid">
      <div style="text-align: center;">
        <div class="col-auto me-auto mt-2">
          <a href="#experiencia"><button class="btn">Experiencia</button></a>
          <!--faltan secciones-->
          <a href="#estudios"><button class="btn">Estudios</button></a>
          <a href="#habilidades"><button class="btn">Habilidades</button></a>
          <a href="#proyectos"><button class="btn">Proyectos</button></a>
        </div>
      </div>
      <br>
                  
    </div>
  </nav>