<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div style="text-align: center;">
        <div class="col-auto me-auto mt-2">
          <a href="#experiencia"><button class="btn">Experiencia</button></a>
          <!--faltan secciones-->
          <a href="#estudios"><button class="btn">Estudios</button></a>
          <a href="#habilidades"><button class="btn">Habilidades</button></a>
          <a href="#proyectos"><button class="btn">Proyectos</button></a>
        </div>
      </div>
      <br>
        
        <!--<button ><a href='https://github.com/manuacostaok' >
          <i class='fab fa-github'></i>
        </a></button>
        <button ><a href='https://www.linkedin.com/in/manuel-acosta-a1a238214/'>
          <i class='fab fa-linkedin'></i>
        </a></button>
            <button (click)="mostrate()" >Mostrate/Ocultate</button>
                <ul class="navbar-nav">
                    
                    <app-login *ngIf="!mostrar"></app-login>
                    <app-logout *ngIf="mostrar"></app-logout>
                  
                </ul>
          !-->      
                
                  
    </div>
  </nav>