/* You can add global styles to this file, and also import other style files */
a{
    text-decoration: none;
    
}

.btn{
    width: 30rem;
    background-color: green;
}


.fondo{
    background-image: url(assets/img/fondo.jpg);
}