<!-- Modal Login-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="loginModalLabel">Login</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
          <div class="login-box">
           
            <form>
              <div class="user-box">
                <input type="text" name="" required="">
                <label>Username</label>
              </div>
              <div class="user-box">
                <input type="password" name="" required="">
                <label>Password</label>
              </div>
              <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Ingresar
              </a>
            </form>
          </div>
        
      </div>
    </div>
  </div>